@{
    Layout = "_Layout";
}
<section class="content-header">
    <h1>
        รายงานระบบสต็อก : รายงานการใช้วัตถุดิบ
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> รายงานระบบสต็อก</a> > </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">ค้นหา</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                       
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="form-group">
                      <div class="row">
                          <div class="col-sm-2">
                              วันที่ เริ่ม
                          </div>
                          <div class="col-sm-4">
                              <input id="Text1" type="text" class="form-control"/>
                          </div>
                          <div class="col-sm-2">
                             ถึง วันที่
                          </div>
                          <div class="col-sm-4">
                              <input id="Text1" type="text" class="form-control" />
                          </div>
                      </div>
                  </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2">
                                ประเภทวัตถุดิบ
                            </div>
                            <div class="col-sm-4">
                                <select id="Select1" class="form-control">
                                    <option></option>

                                </select>
                            </div>
                           
                        </div>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                 
                    <a href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat pull-right"><i class="fa fa-print"></i> พิมพ์รายงาน</a>
                    <a href="javascript:void(0)" class="btn btn-sm btn-primary btn-flat pull-right"><i class="fa fa-print"></i> พิมพ์สรุป</a>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>

    </div>
</section>
